<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="/css/style.err.css")
  body
    div(id='clouds“')
      div(class='cloud x1')
      div(class='cloud x1_5')
      div(class='cloud x2')
      div(class='cloud x3')
      div(class='cloud x4')
      div(class='cloud x5')
    div(class='c')
      div(class='_404') 404
      hr
      div(class='_1') NHÌN MÂY NHÌN GIÓ
      div(class='_2') CHỨ ĐỪNG NHÌN VÀO LỖI NÀY T.T, CHƯA XONG Ạ !!!
      a(class='btn' href='/') Ấn vào đây để trở về Trang Chủ VINCI DESIGN SCHOOL
